* {
  /* Primary colors */
  --clr-orange-500: hsl(25, 97%, 53%);

  /* Neutral colors */
  --clr-white: hsl(0, 100%, 100%);
  --clr-grey-500: hsl(217, 12%, 63%);
  --clr-grey-900: hsl(213, 19%, 18%);
  --clr-grey-950: hsl(216, 12%, 8%);

  --clr-grey-main: hsl(215, 29%, 15%);

  /* Typography */
  --fs-body: 0.9375rem;
  --fw-bold: 700;

  /* Spacing */
  --space-sm: 1em;
  --space-md: 1.5em;
  --space-lg: 2em;
}

/* Reset start */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-inline-size: 100%;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
}
/* Reset end */

body {
  display: grid;
  place-items: center;

  min-block-size: 100vh;

  font-family: 'Overpass', sans-serif;
  font-size: var(--fs-body);
  background-color: var(--clr-grey-950);
}

main {
  padding: var(--space-lg);
  max-inline-size: 25em;
  border-radius: 1.75em;
  color: var(--clr-grey-500);
  background-color: var(--clr-grey-main);
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  line-height: 1.7;
}

button:hover {
  cursor: pointer;
}

.rating-state {
  display: grid;
  gap: var(--space-md);
}

.text-content {
  display: grid;
  gap: var(--space-sm);
}

.heading {
  font-size: 1.5rem;
  color: var(--clr-white);
}

.star-icon,
.selection-btn,
.selection {
  background-color: var(--clr-grey-900);
}

.star-icon {
  margin-block-end: var(--space-sm);
  padding: 1em;
  border-radius: 50%;
}

.selection-btn,
.submit-btn,
.return-btn {
  font-weight: var(--fw-bold);
}

.selection-btn {
  border: none;
  block-size: 3.5em;
  inline-size: 3.5em;

  color: inherit;
  border-radius: 50%;
}

.selection-btn:hover,
.selection-btn.selected {
  color: var(--clr-grey-950);
}

.selection-btn:hover {
  background-color: var(--clr-orange-500);
}

.selection-btn.selected {
  background-color: var(--clr-white);
}

.submit-btn,
.return-btn {
  padding: var(--space-sm);
  border: none;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background-color: var(--clr-orange-500);
  border-radius: 2em;
}

.submit-btn:hover,
.return-btn:hover {
  background-color: var(--clr-white);
}

.submit-btn:active,
.return-btn:active {
  background-color: var(--clr-orange-500);
}

.results-state {
  display: grid;
  place-items: center;
  gap: var(--space-md);
  padding-block-end: var(--space-sm);
  text-align: center;
}

.results-img {
  margin: var(--space-sm) auto;
}

.selection {
  display: inline-block;
  padding: 0.75em var(--space-sm);
  border-radius: 2em;
  color: var(--clr-orange-500);
}

.return-btn {
  padding: var(--space-sm) var(--space-lg);
}

.hidden {
  display: none;
}
