* {
  /* Primary colors */
  --clr-orange-500: hsl(25, 97%, 53%);

  /* Neutral colors */
  --clr-white: hsl(0, 100%, 100%);
  --clr-grey-500: hsl(217, 12%, 63%);
  --clr-grey-900: hsl(213, 19%, 18%);
  --clr-grey-950: hsl(216, 12%, 8%);

  /* Typography */
  --fs-body: 0.9375rem;
  --fw-reg: 400;
  --fw-bold: 700;

  /* Spacing */
  /* --space-lg: 2em; */
}

/* Reset start */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-inline-size: 100%;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
}
/* Reset end */

body {
  display: grid;
  place-items: center;

  min-block-size: 100vh;

  font-family: 'Overpass', sans-serif;
  font-size: var(--fs-body);
  background-color: var(--clr-grey-950);
}

main {
  padding: 2em;
  max-inline-size: 25em;
  border-radius: 1.75em;
  color: var(--clr-grey-500);
  background-color: var(--clr-grey-900);
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  font-size: 0.9em;
  line-height: 1.5em;
}

button:hover {
  cursor: pointer;
}

.rating-state {
  display: grid;
  gap: 2em;
}

.text-content {
  display: grid;
  gap: 1em;
}

.heading {
  font-size: 1.5em;
  color: var(--clr-white);
}

.star-icon {
  background-color: var(--clr-grey-950);
  padding: 0.75em;
  border-radius: 50%;
}

.selection-btn,
.submit-btn {
  font-weight: var(--fw-bold);
}

.selection-btn {
  border: none;
  block-size: 3em;
  inline-size: 3em;

  color: inherit;
  border-radius: 50%;

  background-color: var(--clr-grey-950);
}

.selection-btn:hover,
.selection-btn:active {
  color: var(--clr-grey-950);
}

.selection-btn:hover {
  background-color: var(--clr-orange-500);
}

.selection-btn:active {
  background-color: var(--clr-white);
}

.submit-btn {
  padding: 1em;
  border: none;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background-color: var(--clr-orange-500);
  border-radius: 2em;
}

.submit-btn:hover {
  background-color: var(--clr-white);
}

.submit-btn:active {
  background-color: var(--clr-orange-500);
}

.hidden {
  display: none;
}
